body  {
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(https://img.freepik.com/free-vector/abstract-classic-blue-background-theme_23-2148420120.jpg);   
}
h1 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input {
    width: 60px;
    height: 40px;
    font-size: 30px;
    border-radius: 5px;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cal:hover {
    background-color: lightslategray;
    cursor: pointer;

}