/* General styles */
*{ 
    background-color: beige;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, main, footer {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

h1, h2 {
    color:black;
}

/* Header styles */
header {

    text-align: center;
}

/* Main content styles */
section {
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Footer styles */
footer {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px 0;
}
