<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd"> 
     
 <bean class="com.day6.Spring.Spring.Bike" name="b1">
     
     
     </bean>
     
     <bean class="com.day6.Spring.Spring.Car" name="c1">
     
     
     </bean>
     
     <!-- This will invoke the setter method . It is known as setter Injection -->
     <bean class="com.day6.Spring.Student.Student" name="stud">
     <property name="sid" value="11"></property> 
     <property name="sname" value="vino"></property>
     <property name="scity" value="Nagercoil"></property>

     </bean>
     
     <!-- This will invoke the setter method. it is known as constructor injection  -->
     <bean class="com.day6.Spring.Student.Student" name="stud1"> 
     <constructor-arg name="sid" value="111"></constructor-arg>
     <constructor-arg name="sname" value="Vinolisha"></constructor-arg>
     <constructor-arg name="scity" value="Attoor"></constructor-arg>
     </bean>
     </beans>