<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>JspDemo</display-name>
    <servlet-name>JspDemo</servlet-name>
    <servlet-class>com.servlet.day2.JspDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JspDemo</servlet-name>
    <url-pattern>/JspDemo</url-pattern>
  </servlet-mapping>
  <display-name>ServletDay2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>login1</display-name>
    <servlet-name>login1</servlet-name>
    <servlet-class>com.servlet.day2.login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login1</servlet-name>
    <url-pattern>/l</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>welcomepage</display-name>
    <servlet-name>welcomepage</servlet-name>
    <servlet-class>com.servlet.day2.welcomepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcomepage</servlet-name>
    <url-pattern>/welcomepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servlet.day2.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.day2.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display</display-name>
    <servlet-name>Display</servlet-name>
    <servlet-class>com.servlet.day2.Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/Display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>valid</display-name>
    <servlet-name>valid</servlet-name>
    <servlet-class>com.servlet.day2.valid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>valid</servlet-name>
    <url-pattern>/valid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addit</display-name>
    <servlet-name>Addit</servlet-name>
    <servlet-class>com.servlet.day2.Addit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addit</servlet-name>
    <url-pattern>/Addit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addnum</display-name>
    <servlet-name>Addnum</servlet-name>
    <servlet-class>com.servlet.day2.Addnum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addnum</servlet-name>
    <url-pattern>/Addnum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display</display-name>
    <servlet-name>D</servlet-name>
    <servlet-class>com.servlet.day2.Display</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>login1</display-name>
    <servlet-name>l </servlet-name>
    <servlet-class>com.servlet.day2.login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login1</servlet-name>
    <url-pattern>/l</url-pattern>
  </servlet-mapping>
  
</web-app>