<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>ServletProjects</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Myservlet</display-name>
    <servlet-name>Myservlet</servlet-name>
    <servlet-class>com.servlet.day1.Myservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Myservlet</servlet-name>
    <url-pattern>/Myservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Example2</display-name>
    <servlet-name>Example2</servlet-name>
    <servlet-class>com.servlet.day1.Example2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example2</servlet-name>
    <url-pattern>/Example2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mutiplication</display-name>
    <servlet-name>Mutiplication</servlet-name>
    <servlet-class>com.servlet.day1.Mutiplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mutiplication</servlet-name>
    <url-pattern>/Mutiplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validation</display-name>
    <servlet-name>Validation</servlet-name>
    <servlet-class>com.servlet.day1.Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation</servlet-name>
    <url-pattern>/Validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calculator</display-name>
    <servlet-name>Calculator</servlet-name>
    <servlet-class>com.servlet.day1.Calculator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculator</servlet-name>
    <url-pattern>/Calculator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleInterest</display-name>
    <servlet-name>SimpleInterest</servlet-name>
    <servlet-class>com.servlet.day1.SimpleInterest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleInterest</servlet-name>
    <url-pattern>/SimpleInterest</url-pattern>
  </servlet-mapping>
</web-app>