#p1{
    
    color:blue
}
form{
    min-width: 100vh;
    
    justify-content: center;
    align-items:center;
    height: 250px;
    width: 20%;
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
    border: 1px solid black;
    padding: 30px;
    background-color: royalblue;
    

}
