.container{
    height: 342px;
    width: 290px;
    border: 1px solid black;
    margin: 120px 490px;
}
.top{
    padding-left: 270px;
    padding-top: 17px;
    background-color: pink;
    color: black;
    height: 40px;
    font-size: 40px;
}
.medium{
    display: flex;
    flex-direction: row;
    padding-top: 17px;
    background-color: grey;
    height: 40px;
    align-items: center;
    font-size: 30px;
}
.last{
    display: flex;
    flex-direction: row;
    padding-top: 17px;
    background-color: yellowgreen;
    height: 40px;
    align-items: center;
    font-size: 30px;
}
.last1{
    display: flex;
    flex-direction: row;
    padding-top: 17px;
    background-color: yellowgreen;
    height: 40px;
    align-items: center;
    font-size: 30px;
}
.last2{
    display: flex;
    flex-direction: row;
    padding-top: 17px;
    background-color: yellowgreen;
    height: 40px;
    align-items: center;
    font-size: 30px;
}
.last3{
    display: flex;
    flex-direction: row;
    padding-top: 17px;
    background-color: yellowgreen;
    height: 40px;
    align-items: center;
    font-size: 30px;
}
.equal{
    border: 1px solid;
    height: 550%;
    position:static ;
    border-radius: 1px;
    width: 90px;
    margin-bottom : 75px;
    text-align: center;
}

.add,.sub,.mul,.divs{
  width: 90px;
  border: 1px solid;
  border-radius: 900px;
  text-align: center;

}
.seven,.eight,.nine{
    width: 90px; 
    border: 1px solid;
    border-radius: 900px;
    text-align: center;
}
.four,.five,.six{
    width: 90px; 
    border: 1px solid;
    border-radius: 900px;
    text-align: center;
}
.one,.two,.three{
    width: 90px; 
    border: 1px solid;
    border-radius: 900px;
    text-align: center;
}
.zero,.dot,.ac{
    width: 90px; 
    border: 1px solid;
    border-radius: 900px;
    text-align: center;
}
.empty{
    width: 90px;    
}