.home {
	font-family: Arial, sans-serif;
	text-align: left;
    background-repeat: no-repeat;
	height: 450px;
	width: 500px;
	background-image: url(pic12.jpeg);
	color: black;
}

header {
	
	background-color: #333;
	color: #fff;
	padding: 2px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 20px;
}

h2 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

button{
	color: black;
}

li {
	margin-bottom: 10px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}