<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Server</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServlet1</display-name>
    <servlet-name>MyServlet1</servlet-name>
    <servlet-class>com.servlet.day1.MyServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet1</servlet-name>
    <url-pattern>/MyServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Table</display-name>
    <servlet-name>Table</servlet-name>
    <servlet-class>com.servlet.day1.Table</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Table</servlet-name>
    <url-pattern>/Table</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Factorial</display-name>
    <servlet-name>Factorial</servlet-name>
    <servlet-class>com.servlet.day1.Factorial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Factorial</servlet-name>
    <url-pattern>/Factorial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenericSer</display-name>
    <servlet-name>GenericSer</servlet-name>
    <servlet-class>com.servlet.day1.GenericSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericSer</servlet-name>
    <url-pattern>/GenericSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.day1.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>com.servlet.day1.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleInterest</display-name>
    <servlet-name>SimpleInterest</servlet-name>
    <servlet-class>com.servlet.day1.SimpleInterest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleInterest</servlet-name>
    <url-pattern>/SimpleInterest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add</display-name>
    <servlet-name>add</servlet-name>
    <servlet-class>com.servlet.day1.add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>multiply</display-name>
    <servlet-name>multiply</servlet-name>
    <servlet-class>com.servlet.day1.multiply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>multiply</servlet-name>
    <url-pattern>/multiply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.servlet.day1.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>com.servlet.day1.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InboxPage</display-name>
    <servlet-name>InboxPage</servlet-name>
    <servlet-class>com.servlet.day1.InboxPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxPage</servlet-name>
    <url-pattern>/InboxPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.servlet.day1.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AkItem</display-name>
    <servlet-name>AkItem</servlet-name>
    <servlet-class>com.servlet.day1.AkItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AkItem</servlet-name>
    <url-pattern>/AkItem</url-pattern>
  </servlet-mapping>
</web-app>