<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyTask</display-name>
    <servlet-name>MyTask</servlet-name>
    <servlet-class>com.servlet.day1.MyTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyTask</servlet-name>
    <url-pattern>/MyTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatricTable</display-name>
    <servlet-name>MatricTable</servlet-name>
    <servlet-class>com.day1.servlet.MatricTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatricTable</servlet-name>
    <url-pattern>/MatricTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatrixTable</display-name>
    <servlet-name>MatrixTable</servlet-name>
    <servlet-class>com.day1.servlet.MatrixTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatrixTable</servlet-name>
    <url-pattern>/MatrixTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FactorialTable</display-name>
    <servlet-name>FactorialTable</servlet-name>
    <servlet-class>com.day1.servlet.FactorialTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FactorialTable</servlet-name>
    <url-pattern>/FactorialTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddItion</display-name>
    <servlet-name>AddItion</servlet-name>
    <servlet-class>com.day1.servlet.AddItion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItion</servlet-name>
    <url-pattern>/AddItion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToAdd</display-name>
    <servlet-name>ToAdd</servlet-name>
    <servlet-class>com.day1.servlet.ToAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToAdd</servlet-name>
    <url-pattern>/ToAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.day1.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.day1.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleIntrest</display-name>
    <servlet-name>SimpleIntrest</servlet-name>
    <servlet-class>com.day1.servlet.SimpleIntrest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleIntrest</servlet-name>
    <url-pattern>/SimpleIntrest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleIntrestJ</display-name>
    <servlet-name>SimpleIntrestJ</servlet-name>
    <servlet-class>com.day1.servlet.SimpleIntrestJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleIntrestJ</servlet-name>
    <url-pattern>/SimpleIntrestJ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskDemo</display-name>
    <servlet-name>TaskDemo</servlet-name>
    <servlet-class>com.day2.servlet.TaskDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskDemo</servlet-name>
    <url-pattern>/TaskDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServer</display-name>
    <servlet-name>LoginServer</servlet-name>
    <servlet-class>com.day2.servlet.LoginServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServer</servlet-name>
    <url-pattern>/LoginServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskDemo2</display-name>
    <servlet-name>TaskDemo2</servlet-name>
    <servlet-class>com.day2.servlet.TaskDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskDemo2</servlet-name>
    <url-pattern>/TaskDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Task1</display-name>
    <servlet-name>Task1</servlet-name>
    <servlet-class>com.day3.servlet.Task1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task1</servlet-name>
    <url-pattern>/Task1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilePage</display-name>
    <servlet-name>ProfilePage</servlet-name>
    <servlet-class>com.day3.servlet.ProfilePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePage</servlet-name>
    <url-pattern>/ProfilePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.day2.servlet.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
</web-app>