.div1{
    background-color: rgb(87, 3, 120);
    /* border: 3px;/ */
    color:white;
    /* background-image: url("https://t3.ftcdn.net/jpg/02/72/30/28/360_F_272302815_5DIvl0b8XgMlzzo3FYIZC7ZGVo5EG4sB.jpg"); */
}
.div2{
    background-color: purple;
    border: 3px;
    font-weight: bolder;
}
.Myapp{
    color: red;
    
}
.Myapp:hover{
    color:rgb(212, 7, 231);
    
}
.bg{
    color: blue;
    /* background-color: aqua; */
    background-image: url("https://thumbs.dreamstime.com/b/registration-hand-pressing-button-interface-blue-background-49410297.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    /* background-image: url("https://images.pexels.com/photos/673020/pexels-photo-673020.jpeg?cs=srgb&dl=pexels-eberhard-grossgasteiger-673020.jpg&fm=jpg"); */
}
.fbg{
    background-color: rgb(5, 60, 107);
    color: blueviolet;
    text-shadow: rgb(66, 8, 66);
   
}
.fubg{
    background-color: rgb(5, 9, 115);
}
body{
    background-image: url("https://images.pexels.com/photos/673020/pexels-photo-673020.jpeg?cs=srgb&dl=pexels-eberhard-grossgasteiger-673020.jpg&fm=jpg");
    background-size: cover;
    /* background-color: rgb(13, 21, 21); */
}