

    h1
    {
        text-align: center;
        color: blueviolet;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large
    }
    #login
    {
        border: 0cap;
        background-color: lightblue;
        width: 350px;
        height: 400px;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        box-sizing: border-box;
        }
    
    #one
    {
        text-align: center;
        font-weight: bold;
        
        }
        div{
            text-align: center;
        }
        h4
        {
            text-align: left;
            }
        body{background-image:url("./04gg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
       #button
        {
           text-align: center;
           color: black;
           margin-top: 20px;
           cursor: pointer;
           background-color:white;
           }
           .c
           {
            float: right;
            
           }

            


        
    
