h1{
    color:blue;
    font-size:xx-large;
    border: 6px solid rgb(246, 170, 246);
     text-align: center;
     }
     b{
        color: red;
        font-weight: bolder;
        font-size: x-large;
     }