/* h2{
    color: rgb(5, 5, 5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 600;
}
body{

    background-image: url('https://t4.ftcdn.net/jpg/05/72/54/67/360_F_572546714_2mn39TUv2f5Lmg7JRT9yvSkuTJERGyg8.jpg');
    background-size: cover;
}
button{
    width: 150px;
    height: 40px;
    position:absolute;
}
#btn{
    top: 35%;
    left: 610px;
 
} */