.div{
    width: 600px; 
    padding: 16px;
    margin: 0 auto; 
    margin-top: 100px; 
}

body{
    background-image: url('https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148871843.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1704326400&semt=ais');
    background-attachment: fixed;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px 2px solid rgb(0, 0, 0);
}

#name,#email,#password,#confirmPassword,#dob{
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #020202; 
    color: #000;
}

#name:focus,#email:focus,#password:focus,#confirmPassword:focus{
    background-color: #ddd; 
    outline: none;
}

button{
    background-color: #1210b8; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0;  
    cursor: pointer;
    float: right;
    border: #000;
    border-radius: 10px;
    
}

button:hover{
    opacity: 0.9;
    background-color: #14a3e0;
}

td{
    height: 60px;
    vertical-align: middle;
    padding-left: 20px;
}