#div1 { 
    background-color: azure; 
    color:#fff; 
} 
  
h1 { 
    text-align: center; 
    color: rgb(33, 3, 165); 
} 
  
#f1 { 
    margin-left: 20%; 
    margin-right: 20%; 
    background-color: rgb(23, 2, 72); 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300px;
   
} 
  
input { 
    /* padding: .3rem;  */
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin: 10px; 
} 
  
label { 
    margin: 10px; 
} 
  
button { 
    padding: .3rem; 
    font-size: 15px; 
    background-color: rgb(254, 255, 254); 
    border: 4px solid #ccc; 
    color: #191313; 
    padding: 10px; 
    border-radius: 8px; 
    margin: 10px; 
    /* cursor: pointer;  */

}
radio{
    background-color: aqua;
    
}