<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>day3Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>day3.inbox.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SentItemServlet</display-name>
    <servlet-name>SentItemServlet</servlet-name>
    <servlet-class>day3.inbox.SentItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentItemServlet</servlet-name>
    <url-pattern>/SentItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>day3.inbox.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServCookie</display-name>
    <servlet-name>LoginServCookie</servlet-name>
    <servlet-class>day3.inbox.cookies.LoginServCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServCookie</servlet-name>
    <url-pattern>/LoginServCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InboxServCookie</display-name>
    <servlet-name>InboxServCookie</servlet-name>
    <servlet-class>day3.inbox.cookies.InboxServCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxServCookie</servlet-name>
    <url-pattern>/InboxServCookie</url-pattern>
  </servlet-mapping>
</web-app>