
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            width: 300px;
            padding: 65px;
            padding-left: 15px;
            background-color: powderblue;
            margin: 0 auto;
            margin-top: 100px;
            border: 2px solid black;
            border-radius: 10px;
        }

        .container input[type=text], .container input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 10px 15px 29px 10px;
            border: 20%;
            background:peachpuff;
            
        }

        .container input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        .container input[type=submit]:hover {
            opacity: 0.8;
        }
    