<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletProj1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServlet1</display-name>
    <servlet-name>MyServlet1</servlet-name>
    <servlet-class>com.servlet.day1.MyServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet1</servlet-name>
    <url-pattern>/MyServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet2</display-name>
    <servlet-name>MyServlet2</servlet-name>
    <servlet-class>com.servlet.day1.MyServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet2</servlet-name>
    <url-pattern>/MyServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet3</display-name>
    <servlet-name>MyServlet3</servlet-name>
    <servlet-class>com.servlet.day1.MyServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet3</servlet-name>
    <url-pattern>/MyServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.day1.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleInterest</display-name>
    <servlet-name>SimpleInterest</servlet-name>
    <servlet-class>com.servlet.day1.SimpleInterest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleInterest</servlet-name>
    <url-pattern>/SimpleInterest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleInterestt</display-name>
    <servlet-name>SimpleInterestt</servlet-name>
    <servlet-class>com.servlet.day1.SimpleInterestt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleInterestt</servlet-name>
    <url-pattern>/SimpleInterestt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet21</display-name>
    <servlet-name>MyServlet21</servlet-name>
    <servlet-class>com.servlet.day2.MyServlet21</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet21</servlet-name>
    <url-pattern>/MyServlet21</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet22</display-name>
    <servlet-name>MyServlet22</servlet-name>
    <servlet-class>com.servlet.day2.MyServlet22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet22</servlet-name>
    <url-pattern>/MyServlet22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forwarddispatch1</display-name>
    <servlet-name>Forwarddispatch1</servlet-name>
    <servlet-class>com.servlet.day2.Forwarddispatch1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forwarddispatch1</servlet-name>
    <url-pattern>/Forwarddispatch1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dispatcher1</display-name>
    <servlet-name>Dispatcher1</servlet-name>
    <servlet-class>com.servlet.day2.Dispatcher1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatcher1</servlet-name>
    <url-pattern>/Dispatcher1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddorMult</display-name>
    <servlet-name>AddorMult</servlet-name>
    <servlet-class>com.servlet.day2.AddorMult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddorMult</servlet-name>
    <url-pattern>/AddorMult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>com.servlet.day2.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Multiply</display-name>
    <servlet-name>Multiply</servlet-name>
    <servlet-class>com.servlet.day2.Multiply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Multiply</servlet-name>
    <url-pattern>/Multiply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subtract</display-name>
    <servlet-name>Subtract</servlet-name>
    <servlet-class>com.servlet.day2.Subtract</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subtract</servlet-name>
    <url-pattern>/Subtract</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reg</display-name>
    <servlet-name>Reg</servlet-name>
    <servlet-class>com.servlet.day2.Reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reg</servlet-name>
    <url-pattern>/Reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Auth</display-name>
    <servlet-name>Auth</servlet-name>
    <servlet-class>com.servlet.day2.Auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/Auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fileuploader</display-name>
    <servlet-name>Fileuploader</servlet-name>
    <servlet-class>com.servlet.day2.Fileuploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fileuploader</servlet-name>
    <url-pattern>/Fileuploader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InboxPage</display-name>
    <servlet-name>InboxPage</servlet-name>
    <servlet-class>com.servlet.day3.InboxPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxPage</servlet-name>
    <url-pattern>/InboxPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SentItem</display-name>
    <servlet-name>SentItem</servlet-name>
    <servlet-class>com.servlet.day3.SentItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentItem</servlet-name>
    <url-pattern>/SentItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inboxpage</display-name>
    <servlet-name>Inboxpage</servlet-name>
    <servlet-class>com.servlet.day3.Inboxpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inboxpage</servlet-name>
    <url-pattern>/Inboxpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.servlet.day3.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookie1</display-name>
    <servlet-name>Cookie1</servlet-name>
    <servlet-class>com.servlet.day3.Cookie1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie1</servlet-name>
    <url-pattern>/Cookie1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieSentItem</display-name>
    <servlet-name>CookieSentItem</servlet-name>
    <servlet-class>com.servlet.day3.CookieSentItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieSentItem</servlet-name>
    <url-pattern>/CookieSentItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieProfileItem</display-name>
    <servlet-name>CookieProfileItem</servlet-name>
    <servlet-class>com.servlet.day3.CookieProfileItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieProfileItem</servlet-name>
    <url-pattern>/CookieProfileItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sentitem1</display-name>
    <servlet-name>Sentitem1</servlet-name>
    <servlet-class>com.servlet.day3.Sentitem1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sentitem1</servlet-name>
    <url-pattern>/Sentitem1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inboxpage1</display-name>
    <servlet-name>Inboxpage1</servlet-name>
    <servlet-class>com.servlet.day3.Inboxpage1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inboxpage1</servlet-name>
    <url-pattern>/Inboxpage1</url-pattern>
  </servlet-mapping>
</web-app>