<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>day1jsp</display-name>
	<servlet>
		<servlet-name>abc</servlet-name>
		<servlet-class>day1jsp.AbcServlet</servlet-class>

		<init-param>
			<param-name>abc</param-name>
			<param-value>sundhar</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>abc</servlet-name>
		<url-pattern>/abc</url-pattern>
	</servlet-mapping>
</web-app>