<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletProject2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletL1</display-name>
    <servlet-name>ServletL1</servlet-name>
    <servlet-class>com.servlet.day3.ServletL1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletL1</servlet-name>
    <url-pattern>/ServletL1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InboxPage</display-name>
    <servlet-name>InboxPage</servlet-name>
    <servlet-class>com.servlet.day3.InboxPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxPage</servlet-name>
    <url-pattern>/InboxPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SentItem</display-name>
    <servlet-name>SentItem</servlet-name>
    <servlet-class>com.servlet.day3.SentItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentItem</servlet-name>
    <url-pattern>/SentItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilePage</display-name>
    <servlet-name>ProfilePage</servlet-name>
    <servlet-class>com.servlet.day3.ProfilePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePage</servlet-name>
    <url-pattern>/ProfilePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InboxPageCook</display-name>
    <servlet-name>InboxPageCook</servlet-name>
    <servlet-class>com.servlet.day3.InboxPageCook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxPageCook</servlet-name>
    <url-pattern>/InboxPageCook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SentItemcook</display-name>
    <servlet-name>SentItemcook</servlet-name>
    <servlet-class>com.servlet.day3.SentItemcook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentItemcook</servlet-name>
    <url-pattern>/SentItemcook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilePagecook</display-name>
    <servlet-name>ProfilePagecook</servlet-name>
    <servlet-class>com.servlet.day3.ProfilePagecook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePagecook</servlet-name>
    <url-pattern>/ProfilePagecook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.servlet.day3.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filter1</display-name>
    <filter-name>Filter1</filter-name>
    <filter-class>com.servlet.day3.Filter1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter1</filter-name>
    <url-pattern>/alien</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>Filter2</display-name>
    <filter-name>Filter2</filter-name>
    <filter-class>com.servlet.day3.Filter1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter2</filter-name>
    <url-pattern>/alien</url-pattern>
  </filter-mapping>
</web-app>