body{
    background-color: rgb(94, 97, 152);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    text-align: center;
    color: aliceblue;
    
}