<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServelet1</display-name>
    <servlet-name>MyServelet1</servlet-name>
    <servlet-class>com.servlet.day1.MyServelet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServelet1</servlet-name>
    <url-pattern>/MyServelet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultiplicationTable</display-name>
    <servlet-name>MultiplicationTable</servlet-name>
    <servlet-class>com.servlet.day1.MultiplicationTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiplicationTable</servlet-name>
    <url-pattern>/MultiplicationTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Factorial</display-name>
    <servlet-name>Factorial</servlet-name>
    <servlet-class>com.servlet.day1.Factorial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Factorial</servlet-name>
    <url-pattern>/Factorial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrgUsingServeletMethod</display-name>
    <servlet-name>PrgUsingServeletMethod</servlet-name>
    <servlet-class>com.servlet.day1.PrgUsingServeletMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrgUsingServeletMethod</servlet-name>
    <url-pattern>/PrgUsingServeletMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SumOfTwoNum</display-name>
    <servlet-name>SumOfTwoNum</servlet-name>
    <servlet-class>com.servlet.day1.SumOfTwoNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SumOfTwoNum</servlet-name>
    <url-pattern>/SumOfTwoNum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPage</display-name>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>com.servlet.day1.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InterestServlet</display-name>
    <servlet-name>InterestServlet</servlet-name>
    <servlet-class>com.servlet.day1.InterestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterestServlet</servlet-name>
    <url-pattern>/InterestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServelet2</display-name>
    <servlet-name>MyServelet2</servlet-name>
    <servlet-class>com.servlet.day2.MyServelet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServelet2</servlet-name>
    <url-pattern>/MyServelet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.servlet.day2.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.servlet.day2.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServletP3</display-name>
    <servlet-name>HomeServletP3</servlet-name>
    <servlet-class>com.servlet.day2.HomeServletP3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServletP3</servlet-name>
    <url-pattern>/HomeServletP3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Multi</display-name>
    <servlet-name>Multi</servlet-name>
    <servlet-class>com.servlet.day2.Multi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Multi</servlet-name>
    <url-pattern>/Multi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.servlet.day2.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InboxPagePrg1</display-name>
    <servlet-name>InboxPagePrg1</servlet-name>
    <servlet-class>com.servlet.day3.InboxPagePrg1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxPagePrg1</servlet-name>
    <url-pattern>/InboxPagePrg1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendItem</display-name>
    <servlet-name>SendItem</servlet-name>
    <servlet-class>com.servlet.day3.SendItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendItem</servlet-name>
    <url-pattern>/SendItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilePage</display-name>
    <servlet-name>ProfilePage</servlet-name>
    <servlet-class>com.servlet.day3.ProfilePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePage</servlet-name>
    <url-pattern>/ProfilePage</url-pattern>
  </servlet-mapping>
</web-app>