* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #141414;
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logo {
    margin-bottom: 2rem;
    padding : 20px;
  }
  
  .logo img {
    width: 200px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: #141414;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    color: #141414;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #f40612;
  }
  
