<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<servlet>
		<description></description>
		<display-name>ValidateServlet</display-name>
		<servlet-name>ValidateServlet</servlet-name>
		<servlet-class>day2.jsp.ValidateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateServlet</servlet-name>
		<url-pattern>/ValidateServlet</url-pattern>
	</servlet-mapping>
	<display-name>day2Servlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>AuthServlet</display-name>
		<servlet-name>AuthServlet</servlet-name>
		<servlet-class>day2.jsp.AuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/AuthServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FileOverRiderServlet</display-name>
		<servlet-name>FileOverRiderServlet</servlet-name>
		<servlet-class>day2.jsp.FileOverRiderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileOverRiderServlet</servlet-name>
		<url-pattern>/FileOverRiderServlet</url-pattern>
	</servlet-mapping>
</web-app>