/* .form-floating{
    width: 200px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
    border: 2px solid black; 
    
    
    
 }
 body{
     background-image: url("https://i.redd.it/nhk8jg3psng71.jpg");
     background-size: cover;
 }
 #form 
 {
     background-color: rgb(151, 99, 99, 0.5);
     width: 500px;
     margin-right: auto;
     margin-left: auto;
     margin-top: 10%;
     border-radius: 2%;
     padding: 15px 15px;
 }
 .btn
 {
     padding: 2%px;
     margin-bottom: 20px;
     margin-left: 200px;
     margin-top: 20px;
 
 } */