<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.Servlet.Day1.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet2</display-name>
    <servlet-name>MyServlet2</servlet-name>
    <servlet-class>com.Servlet.Day1.MyServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet2</servlet-name>
    <url-pattern>/MyServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.Servlet.Day1.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet3</display-name>
    <servlet-name>Servlet3</servlet-name>
    <servlet-class>com.Servlet.Day1.Servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>/Servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenericServ</display-name>
    <servlet-name>GenericServ</servlet-name>
    <servlet-class>com.Servlet.Day1.GenericServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServ</servlet-name>
    <url-pattern>/GenericServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SumOfTwoNumbers</display-name>
    <servlet-name>SumOfTwoNumbers</servlet-name>
    <servlet-class>com.Servlet.Day1.SumOfTwoNumbers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SumOfTwoNumbers</servlet-name>
    <url-pattern>/SumOfTwoNumbers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SumOfTwoNumberss</display-name>
    <servlet-name>SumOfTwoNumberss</servlet-name>
    <servlet-class>com.Servlet.Day1.SumOfTwoNumberss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SumOfTwoNumberss</servlet-name>
    <url-pattern>/SumOfTwoNumberss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Servlet.Day1.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleIntrest</display-name>
    <servlet-name>SimpleIntrest</servlet-name>
    <servlet-class>com.Servlet.Day1.SimpleIntrest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleIntrest</servlet-name>
    <url-pattern>/SimpleIntrest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Servlet.Day2.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>requestDispatcher</display-name>
    <servlet-name>requestDispatcher</servlet-name>
    <servlet-class>com.Servlet.Day2.requestDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestDispatcher</servlet-name>
    <url-pattern>/requestDispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>requestDispatcherr</display-name>
    <servlet-name>requestDispatcherr</servlet-name>
    <servlet-class>com.Servlet.Day2.requestDispatcherr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestDispatcherr</servlet-name>
    <url-pattern>/requestDispatcherr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwoButtons</display-name>
    <servlet-name>TwoButtons</servlet-name>
    <servlet-class>com.Servlet.Day2.TwoButtons</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwoButtons</servlet-name>
    <url-pattern>/TwoButtons</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Multiplication</display-name>
    <servlet-name>Multiplication</servlet-name>
    <servlet-class>com.Servlet.Day2.Multiplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Multiplication</servlet-name>
    <url-pattern>/Multiplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InboxPage</display-name>
    <servlet-name>InboxPage</servlet-name>
    <servlet-class>com.Servlet.Day3.InboxPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxPage</servlet-name>
    <url-pattern>/InboxPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeinItem</display-name>
    <servlet-name>SeinItem</servlet-name>
    <servlet-class>com.Servlet.Day3.SeinItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeinItem</servlet-name>
    <url-pattern>/SeinItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.Servlet.Day3.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
</web-app>