<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">  
 
      <!--This is our beans meta data and We use Setter Injection here  -->
     <!--   <bean class="com.spring.day1.Project1.Car" name="c1"></bean>
      <bean class="com.spring.day1.Project1.Bike" name="b1"></bean>-->
      
      <bean class="com.spring.day1.Project2.Vehicle" name="s1">
      <property name="vId" value="0007"></property>
      <property name="vBrand" value="VolksWagon"></property>
      <property name="vModel" value="Vento"></property>
      </bean>
      
 </beans>