h1 {
    color: rgb(58, 57, 57);
    border: 2px solid wheat;
    background: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
 p {
    background: palevioletred;
    color: black;
 }