<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletProj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Sample</display-name>
    <servlet-name>Sample</servlet-name>
    <servlet-class>com.servlet.day1.Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample</servlet-name>
    <url-pattern>/Sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Factorial</display-name>
    <servlet-name>Factorial</servlet-name>
    <servlet-class>com.servlet.day1.Factorial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Factorial</servlet-name>
    <url-pattern>/Factorial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servlet.day1.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPage</display-name>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>com.servlet.day1.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calculator</display-name>
    <servlet-name>Calculator</servlet-name>
    <servlet-class>com.servlet.day1.Calculator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculator</servlet-name>
    <url-pattern>/Calculator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculatorProg</display-name>
    <servlet-name>CalculatorProg</servlet-name>
    <servlet-class>com.servlet.day1.Calculator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculatorProg</servlet-name>
    <url-pattern>/CalculatorProg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calc</display-name>
    <servlet-name>Calc</servlet-name>
    <servlet-class>com.servlet.day1.Calc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calc</servlet-name>
    <url-pattern>/Calc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>welcome</display-name>
    <servlet-name>welcome</servlet-name>
    <servlet-class>com.servlet.day1.welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginex</display-name>
    <servlet-name>loginex</servlet-name>
    <servlet-class>com.servlet.day2.loginex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginex</servlet-name>
    <url-pattern>/loginex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login2</display-name>
    <servlet-name>Login2</servlet-name>
    <servlet-class>com.servlet.day2.Login2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login2</servlet-name>
    <url-pattern>/Login2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index1</display-name>
    <servlet-name>index1</servlet-name>
    <servlet-class>com.servlet.day2.index1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index1</servlet-name>
    <url-pattern>/index1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.servlet.day2.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fileuploader</display-name>
    <servlet-name>Fileuploader</servlet-name>
    <servlet-class>com.servlet.day2.Fileuploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fileuploader</servlet-name>
    <url-pattern>/Fileuploader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login3</display-name>
    <servlet-name>Login3</servlet-name>
    <servlet-class>com.servlet.day3.Login3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login3</servlet-name>
    <url-pattern>/Login3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SentItem</display-name>
    <servlet-name>SentItem</servlet-name>
    <servlet-class>com.servlet.day3.SentItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentItem</servlet-name>
    <url-pattern>/SentItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.servlet.day3.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCookie</display-name>
    <servlet-name>LoginCookie</servlet-name>
    <servlet-class>com.servlet.day3.LoginCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCookie</servlet-name>
    <url-pattern>/LoginCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SentItemCookie</display-name>
    <servlet-name>SentItemCookie</servlet-name>
    <servlet-class>com.servlet.day3.SentItemCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentItemCookie</servlet-name>
    <url-pattern>/SentItemCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileCookie</display-name>
    <servlet-name>ProfileCookie</servlet-name>
    <servlet-class>com.servlet.day3.ProfileCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileCookie</servlet-name>
    <url-pattern>/ProfileCookie</url-pattern>
  </servlet-mapping>
</web-app>