body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid {
  background: linear-gradient(120deg, #af5fff, #2e4fe2, #1D2671, #C33764);
  background-size: 800% 800%;
  height: 150px;

  animation: AnimationName 10s ease-in-out infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 5%
  }

  50% {
    background-position: 100% 96%
  }

  100% {
    background-position: 0% 5%
  }
}
