.h{
    color: blue;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  width: 50px;
  height: 50px;
}
.white {
  background-color: white;
}
.black {
  background-color: rgb(166, 159, 159);
}
.d1{
    border: 34px solid rgb(90, 85, 85);
    width: 600px;
    height: 600px;


}
