body{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/007/251/356/small/4k-hd-wallpaper-for-computer-desktop-with-dark-aesthetic-and-dope-trippy-wallpapers-for-cute-girls-photo.jpg);
    background-size: 1600px;
    background-repeat: no-repeat;
    margin-top: 20px;
}