<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">  
    
    <bean class="com.spring1.day1.SpringExp1.Student" name="s1">
    <property name="id" value="1"></property>
    <property name="name" value="Varshi"></property>
    <property name="city" value="Chennai"></property>
    </bean>
    
    <bean class="com.spring1.day1.SpringExp1.Student" name="s2">
    <constructor-arg name="id" value="2"></constructor-arg>
    <constructor-arg name="name" value="Appu"></constructor-arg>
    <constructor-arg name="city" value="Trichy"></constructor-arg>
    </bean>
   
    </beans>