.container{
    background-color: white;
    height: 420px;
    width: 250px;
    border: 1px solid black;
    border-radius: 15px
}

.outputbox{
    display: flex;
    justify-content: end;
    margin-right: 10px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.symbols{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 5px;
    cursor: pointer;
}

.numbers{
    display: flex;
    flex-direction: row;
    flex: 250px;
}

.num{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    column-gap: 30px;
}

.row1,.row2,.row3,.row4{
    padding-right: 10px;
    margin-top: 30px;
    row-gap: 70px;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    justify-content: space-between;
    height: 30px;

}

.add,.sub,.mul,.div{
    display: flex;
    justify-content: center;
    background-color: rgba(169, 169, 169, 0.697);
    width: 40px;
    height: 40px;
    padding-top: 1px;
    border-radius: 30px;
    align-items: center;
    font-weight: 900;
}

.add:hover,.sub:hover,.mul:hover,.div:hover{
    background-color: gray;
}

.add:active,.sub:active,.mul:active,.div:active{
    background-color: black;
    color: white;
}

.dot,.ac,.one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.zero{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 16px;
}

.dot:hover,.ac:hover,.one:hover,
.two:hover,.three:hover,.four:hover,
.five:hover,.six:hover,.seven:hover,
.eight:hover,.nine:hover,.zero:hover{
    background-color: rgba(211, 211, 211, 0.481);
}

.dot:active,.ac:active,
.one:active,.two:active,
.three:active,.four:active,
.five:active,.six:active,
.seven:active,.eight:active,
.nine:active,.zero:active{
    background-color: lightslategrey;
}

.equal{
    display: flex;
    height: 230px;
    width: 40px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 61, 89);
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.equal:hover{
    background-color: rgba(204, 61, 90, 0.664);
}

.equal:active{
    background-color: rgb(204, 61, 89);
}