<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>DBUtil</display-name>
    <servlet-name>DBUtil</servlet-name>
    <servlet-class>com.sms.util.DBUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBUtil</servlet-name>
    <url-pattern>/DBUtil</url-pattern>
  </servlet-mapping>
  <display-name>ServletCredOperations</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.sms.bean.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDAO</display-name>
    <servlet-name>StudentDAO</servlet-name>
    <servlet-class>com.sms.dao.StudentDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDAO</servlet-name>
    <url-pattern>/StudentDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>com.sms.controller.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
</web-app>