table
{
    color: aqua;
    border: 5px;
    text-align: center;
    cursor: pointer;
}
body
{
    background-color: aqua;

}
form
{
    border:solid 1px rgb(113, 242, 39);
    width: 400px;
    height: 250px;
    border-width: 20px;
    margin-top: 100px;
}

  