:root {
    --underweight: orange;
    --normal: green;
    --overweight: lightcoral;
    --obese: red;
}
body {
    background: rgb(32, 59, 32);
    display: grid;
    place-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: aquamarine;
}

.box {
    width: 90%;
    max-width: 420px;
    padding: 10rem;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    display: grid;
    gap: 20rem;
}

.bmi-calculator {
    display: grid;
    gap: 1rem;
}

.bmi-calculator div {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.bmi-calculator label {
    flex: 0 0 120px;
    font-weight: 600;
    font-size: 20px;
    color: whitesmoke;
}

.bmi-calculator input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    outline-color: #555;
    font-size: 1.25rem;
    text-align: center;
}

.bmi-calculator button {
    width: 50%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    background: #00a1a3;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bmi-calculator button[type="reset"] {
    background: #444;
}

.bmi-calculator button:hover {
    filter: brightness(120%);
}

.output {
    text-align: center;
    color: #fff;
}

.output #zero {
    font-size: 4rem;
}

.output #desc strong {
    text-transform: uppercase;
}

.bmi-scale {
    display: flex;
}

.bmi-scale div {
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    border-top: 5px solid var(--color);
    color: #fff;
}

.bmi-scale h4 {
    font-size: 0.75rem;
    color: slateblue;
}