<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletProjects</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.servlet.day1.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Factorial</display-name>
    <servlet-name>Factorial</servlet-name>
    <servlet-class>com.servlet.day1.Factorial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Factorial</servlet-name>
    <url-pattern>/Factorial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reflect</display-name>
    <servlet-name>Reflect</servlet-name>
    <servlet-class>com.servlet.day1.Reflect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reflect</servlet-name>
    <url-pattern>/Reflect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addnum</display-name>
    <servlet-name>Addnum</servlet-name>
    <servlet-class>com.servlet.day1.Addnum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addnum</servlet-name>
    <url-pattern>/Addnum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validation</display-name>
    <servlet-name>Validation</servlet-name>
    <servlet-class>com.servlet.day1.Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation</servlet-name>
    <url-pattern>/Validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Interest</display-name>
    <servlet-name>Interest</servlet-name>
    <servlet-class>com.servlet.day1.Interest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Interest</servlet-name>
    <url-pattern>/Interest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet1</display-name>
    <servlet-name>servlet1</servlet-name>
    <servlet-class>com.servlet.day1.servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet2</display-name>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>com.servlet.day1.servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
</web-app>