<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletProject1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>com.servlet.day1.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.servlet.day1.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet3</display-name>
    <servlet-name>Servlet3</servlet-name>
    <servlet-class>com.servlet.day1.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>/Servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet4</display-name>
    <servlet-name>Servlet4</servlet-name>
    <servlet-class>com.servlet.day1.Servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet4</servlet-name>
    <url-pattern>/Servlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page1</display-name>
    <servlet-name>Page1</servlet-name>
    <servlet-class>com.servlet.day1.Page1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page1</servlet-name>
    <url-pattern>/Page1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Valid</display-name>
    <servlet-name>Valid</servlet-name>
    <servlet-class>com.servlet.day1.Valid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Valid</servlet-name>
    <url-pattern>/Valid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Simple</display-name>
    <servlet-name>Simple</servlet-name>
    <servlet-class>com.servlet.day1.Simple</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Simple</servlet-name>
    <url-pattern>/Simple</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Valid1</display-name>
    <servlet-name>Valid1</servlet-name>
    <servlet-class>com.servlet.day1.Valid1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Valid1</servlet-name>
    <url-pattern>/Valid1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validdispc</display-name>
    <servlet-name>Validdispc</servlet-name>
    <servlet-class>com.servlet.day1.Validdispc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validdispc</servlet-name>
    <url-pattern>/Validdispc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwoButton</display-name>
    <servlet-name>TwoButton</servlet-name>
    <servlet-class>com.servlet.day1.TwoButton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwoButton</servlet-name>
    <url-pattern>/TwoButton</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calc</display-name>
    <servlet-name>Calc</servlet-name>
    <servlet-class>com.servlet.day1.Calc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calc</servlet-name>
    <url-pattern>/Calc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mul</display-name>
    <servlet-name>Mul</servlet-name>
    <servlet-class>com.servlet.day1.Mul</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mul</servlet-name>
    <url-pattern>/Mul</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.servlet.day2.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet1</display-name>
    <servlet-name>AuthServlet1</servlet-name>
    <servlet-class>com.servlet.day2.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet1</servlet-name>
    <url-pattern>/AuthServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet2</display-name>
    <servlet-name>AuthServlet2</servlet-name>
    <servlet-class>com.servlet.day2.AuthServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet2</servlet-name>
    <url-pattern>/AuthServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet3</display-name>
    <servlet-name>AuthServlet3</servlet-name>
    <servlet-class>com.servlet.day2.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet3</servlet-name>
    <url-pattern>/AuthServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploader</display-name>
    <servlet-name>FileUploader</servlet-name>
    <servlet-class>com.servlet.day2.FileUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploader</servlet-name>
    <url-pattern>/FileUploader</url-pattern>
  </servlet-mapping>
</web-app>