*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    color: rgb(241, 193, 104);
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url('https://cdn.pixabay.com/photo/2023/12/19/22/46/clock-8458543_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container > .in-con{
    /* margin-bottom: 50px; */
    height: 400px;
    width: 300px;
    backdrop-filter: blur(25px);
    /* border: 2px solid greenyellow; */
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.in-con >input[type='number'],input[type='button'],.timer{
    margin-bottom: 20px;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border-style: none;
}
input[type='button']:hover{
    background-color: orange;
    color: white;
}
#timer{
    color: rgb(255, 174, 0);
}
.in > input{
    /* display: flex; */
    /* align-items: center; */
    flex-direction: column;
    padding: 10px;
    /* justify-content: center; */
    margin-bottom: 20px;
    margin-right: 5px;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border-style: none;
}
.in > input:hover{
    border:2px solid orange;
}
h1{
    color: rgb(253, 210, 129);
    text-transform: uppercase;
}